* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

body {    
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: rosybrown;
  line-height: 1.5;

}

.photo {
  display: flex;
  flex-direction: row;
  /*align-items:stretch;*/
  justify-content:space-between;
  flex-wrap: wrap;
  margin:15px;
  padding:20px 10px;
  border-radius: 10px;
  min-width: 350px;
  background: rosybrown;

}

.photoBox {
  margin:15px;
  padding:20px 10px;
  border-radius: 10px;
  background: rgb(95, 236, 95);
  max-width: 79%;
  min-width: 325px
}


  h1 {
    display: block;
    color: black;
    text-align: left;
    padding: 10px;
    font-size: 4rem;
    border-radius: 15px;
    background-color: rgb(241, 191, 191);
  }

h2 {
    box-sizing: border-box;
    color: white;
    text-align:left;
    font-size: 1.5rem;
}



  .nav-bar {
    display: block;
    box-sizing: border-box;
    justify-content: flex-end;
    color: white;
    text-align: right;
    font-size: 1.5rem;
    background-color: rgb(10, 83, 49);
    
  }

.nav-bar a {
  padding: 10px 20px ;
  text-decoration:none;
  color: white;
  text-align: center;

}

.container {
  display: flex;
  flex-direction: row;
  align-items:stretch;
  justify-content:left;
  flex-wrap: wrap;
  margin:15px;
  padding:20px 10px;
  border-radius: 10px;
  min-width: 350px;
  background: rosybrown;
  
}



.small {
  margin:15px;
  padding:20px 10px;
  border-radius: 10px;
  background-color: rgb(160, 119, 119);
  max-width: 20%;
  min-width: 100px;


}

.textBox {
  margin:15px;
  padding:20px 10px;
  border-radius: 10px;
  background-color: rgb(241, 191, 191);
  max-width: 79%;
  min-width: 325px
}

.about-text {
    display: block;
    box-sizing: border-box;
}



main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

/*
.main header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
}
*/

/*
.projects:nth-last-of-type(5) {

}
*/

.projects {
  /*flex: 0 1 0;*/
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  max-width: 700px;  
}

.projects header {
  padding: 20px;
  background-color: rgb(160, 100, 100);
  color: #fff;
  max-width: 700px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.projects img {
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 
}


#big-image {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  
}

#big-image section {
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  max-width: 500px;
  flex-grow: 1.5;

}


#big-image header {
  padding: 20px;
  background-color: rgb(160, 100, 100);
  color: #fff;
  max-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

#big-image img {
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}


footer {
display: block;
box-sizing: border-box;
justify-content: flex-end;
color: white;
text-align: right;
font-size: 1.5rem;
background-color: rgb(10, 83, 49);


}

footer a {
  padding: 10px;
  margin: 10px;
  text-decoration:none;
  color: white;
  text-align: left

}